{% extends 'base.html.twig' %}

{% block title %}Créer un compte
{% endblock %}

{% block body %}
	<div class="container d-flex justify-content-center">
		<div style="max-width: 400px; width: 100%;">
			<h1 class="text-success">Register</h1>

			<div class="p-2" style="max-width: 400px; margin: 0 auto;">
				{{ form_errors(registrationForm) }}


				{{ form_start(registrationForm) }}

				<div class="mb-3">
					{{ form_label(registrationForm.email, null, {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(registrationForm.email) }}
				</div>

				<div class="mb-3">
					{{ form_label(registrationForm.plainPassword, 'Mot de passe', {'label_attr': {'class': 'form-label'}}) }}
					{{ form_widget(registrationForm.plainPassword, {'attr': {'class': 'form-control'}}) }}
					{{ form_errors(registrationForm.plainPassword) }}
				</div>

				<div class="form-check mb-3">
					{{ form_widget(registrationForm.agreeTerms, {'attr': {'class': 'form-check-input'}}) }}
					{{ form_label(registrationForm.agreeTerms, null, {'label_attr': {'class': 'form-check-label'}}) }}
					{{ form_errors(registrationForm.agreeTerms) }}
				</div>

				<button type="submit" class="form-check mb-3">Enregistrer</button>
				{{ form_end(registrationForm) }}
			</div>
		</div>
	{% endblock %}
