<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Symfony Library{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <header>
            <nav>
                <div>
                    <a href="{{ path('app_home') }}">Bibliothèque</a>
                </div>
                <div>
                    <ul>
                        {% if app.user %}
                            <li><a href="">Livres</a></li>
                            <li><a href="">Mes réservations</a></li>
                            {% if is_granted('ROLE_ADMIN') %}
                                <li><a href="{{ path('app_user_index') }}">Gérer les utilisateurs</a></li>
                            {% endif %}
                            <li><a href="{{ logout_path() }}">Déconnexion</a></li>
                        {% else %}
                            <li><a href="{{ path('app_login') }}">Connexion</a></li>
                            <li><a href="{{ path('app_register') }}">Créer un compte</a></li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>

    
        <main>
            {% block body %}{% endblock %}
        </main>

        <footer>
            <p>&copy; {{ "now"|date("Y") }} Bibliothèque Symfony. Tous droits réservés.</p>
        </footer>
    </body>
</html>
