{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
<h1>Bienvenue {{ app.user.userIdentifier }} !</h1>

<p>Accédez rapidement à vos actions :</p>
<ul>
    <li><a href="{{ path('app_book_index') }}">Voir le catalogue de livres</a></li>
    <li><a href="{{ path('app_reservation_index') }}">Mes réservations</a></li>
    {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('app_user_index') }}">Gérer les utilisateurs</a></li>
    {% endif %}
    <li><a href="{{ logout_path() }}">Se déconnecter</a></li>
</ul>
{% endblock %}