{% extends 'base.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block body %}
<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1 class="mb-4">Bienvenue {{ app.user.userIdentifier }} !</h1>
            <p>Accédez rapidement à vos actions :</p>

            <div class="list-group">
                <a href="{{ path('app_book_index') }}" class="list-group-item list-group-item-action">
                    Voir le catalogue de livres
                </a>
                <a href="{{ path('app_reservation_index') }}" class="list-group-item list-group-item-action">
                    Mes réservations
                </a>
                {% if is_granted('ROLE_ADMIN') %}
                    <a href="{{ path('app_user_index') }}" class="list-group-item list-group-item-action">
                        Gérer les utilisateurs
                    </a>
                {% endif %}
                <a href="{{ logout_path() }}" class="list-group-item list-group-item-action list-group-item-danger">
                    Se déconnecter
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}